<p>Hello <%= @resource.email %>!</p>

<p>To access the SightSee Server, you can change your password through the link below.</p>

<p><%= link_to 'Set my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>If you currently have a password, your current password won't change until you access the link above and create a new one.</p>